MYSQL_SUPERPASS="root00"

MANGOS_DBUSER="mangos"
MANGOS_DBPASS="mangos00"

# CMANGOS_VERSION="latest"

WOW_CLIENT_DIR="/mnt/c/Program Files/World of Warcraft/"
WOW_TIMEZONE="Europe/Amsterdam"
WOW_VERSION="tbc"

# REALMD_PORT="3724"
# MANGOSD_PORT="8085"

# PHPMYADMIN_PORT="8080"  # Also accepts an "ip:port" bind, e.g. "127.0.0.1:8080"
