#!/usr/bin/env bash
#

####################################################################################################
# This is the config file for the `InstallFullDB.sh` script
#
# You need to insert
#   DB_HOST:      Host on which the `mangos` database resides (typically: `localhost`).
#   DB_PORT:      Port on which the `mangos` database is running (typically: `3306`).
#   USERNAME:     Your username to access the `mangos` database.
#   PASSWORD:     Your password to access the `mangos` database.
#   DATABASE:     Your database in which you want to add clean TBC-DB.
#   CORE_PATH:    Your path to core's directory (OPTIONAL: Use if you want to apply remaining core updates automatically).
#   MYSQL:        Your `mysql` command (typically: `mysql`).
#   FORCE_WAIT:   Define if you want to wait a bit before applying the full database.
#   DEV_UPDATES:  Define if the 'dev' directory for processing development SQL files needs to be used.
#
####################################################################################################

DB_HOST="${MANGOS_DBHOST}"
DB_PORT="${MANGOS_DBPORT}"
USERNAME="${MANGOS_DBUSER}"
PASSWORD="${MANGOS_DBPASS}"

DATABASE="${MANGOS_MANGOS_DBNAME}"

CORE_PATH="/home/mangos/mangos"
MYSQL="mysql"
FORCE_WAIT="NO"
DEV_UPDATES="NO"
